{% extends 'StfalconPortfolioBundle::layout.html.twig' %}

{% block content %}
    <h4>Projects in category: {{ category.getName }}</h4>
    {% if projects %}
        <ul class="sortable">
            {% for project in projects %}
                <li id="{{ project.id }}">
                    {{ project.name }}
                    (<a href="{{ path('portfolioProjectEdit', { 'slug': project.slug }) }}">Edit project</a>
                    / <a href="{{ path('portfolioProjectDelete', { 'slug': project.slug }) }}">Delete project</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="info">
            There are no projects in this category
        </div>
    {% endif %}
{% endblock %}{# empty Twig template #}